.container {
  background: rgb(44, 37, 37);
}

.circle {
  position: absolute;
  width: 365px;
  height: 350px;
  left: 20vh;
  top: 15vh;
  bottom: 10vh;

  background-image: url("./assets/dharbendra.jpg");
  border: 1px solid #000000;
  border-radius: 40%;
  box-sizing: content-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-items: auto;
  object-fit: cover;
}

.text {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  /* identical to box height */

  text-align: center;

  color: #e00f0f;
}

.text-small {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  margin-left: 1rem;
  margin-right: 2.5rem;

  color: #ffffff;
}

.main-text {
  margin-left: 1rem;
  margin-right: 2rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;

  color: #ffffff;
}

.widget > * {
  margin-top: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  background: #3f2f2f;
  mix-blend-mode: normal;
  border: 0.5px solid #271414;
  box-shadow: 5px 5px 4px rgba(229, 229, 229, 0.12), 5px 5px 50px 1px #342424;
  border-radius: 15px;
}

.footer {
  margin-top: 5px;
  /* margin: 5rem; */
  padding-top: 5rem;
}
